.footer {
    font-family: 'Brandon Text', sans-serif;
    background-color: #a8b49e;
    color: #152f4e;
    font-weight: 500;
    padding: 40px 0px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 12px;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 12px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}